<?xml version="1.0" encoding="UTF-8"?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">
    <head>
        <meta name="dtb:uid" content="{{ .Uuid }}" />
        <meta name="dtb:generator" content="epub-nicohaenggi"/>
        <meta name="dtb:depth" content="1"/>
        <meta name="dtb:totalPageCount" content="0"/>
        <meta name="dtb:maxPageNumber" content="0"/>
    </head>
    <docTitle>
        <text>{{ .Title }}</text>
    </docTitle>
    <docAuthor>
        <text>{{ .Author }}</text>
    </docAuthor>
    <navMap>
        {{ range .Chapters }}
                <navPoint id="{{ .Id }}" playOrder="{{ .Order }}" class="chapter">
                    <navLabel>
                        <text>{{ .Title }}</text>
                    </navLabel>
                    <content src="{{ .Filename }}"/>
                </navPoint>
        {{ end }}
    </navMap>
</ncx>
